{{define "partial:support"}}
<tr>
    <td align="left" style="padding:0;margin:0;padding-bottom:10px;padding-top:20px">
        <p style="margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;font-size:14px">
            Если у Вас возникли какие-либо сложности или появились вопросы и предложения, вы можете обратиться к нам 
            <a target="_blank" href="mailto:{{.Support}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;text-decoration:underline;color:#5C68E2;font-size:14px">{{.Support}}
            </a>
        </p>
        <p style="margin:0;margin-top:10px;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:21px;color:#333333;font-size:14px">С уважением, Силур.</p>
    </td>
</tr>
{{end}}